@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
:root {
  --color1: rgba(135, 7, 174, 0.812);
}

body {
  margin: 0;
  font-family: montserrat;
  min-width: 1180px;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: rgb(255, 255, 255);
  color: black;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 80%;
  position: relative;
  cursor: pointer;
}

/* ul li::before :active {
  content: "";
  color: var(--color1);
  height: 1px;
  position: absolute;
  top: -100%;
  width: 100%;
} */

.main-header {
  background: url(./assets/img/bg.jpg) center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  color: white;
}

.main-header h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.main-header button {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  text-transform: uppercase;
  min-width: 20%;
}

.header-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.header-text p {
  width: 65%;
}

.icon-part {
  display: flex;
  justify-content: space-around;
  background: black;
  min-height: 80vh;
  color: white;
  padding: 5% 2%;
}

.icon-part-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
}

.list-icon-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.list-icon-part h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.list-icon-part p {
  text-align: center;
}

.list-icon-part button {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5vw 3vw;
  text-transform: uppercase;
}

.news-part {
  background: rgb(235, 234, 234);
  margin-top: -1.3%;
  padding-bottom: 5%;
}

.header-news {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 70%;
  margin: auto;
  padding: 5% 0;
}

.left-part h2 {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.right-part {
  display: flex;
  align-items: center;
  align-content: center;
}

.right-part button {
  text-transform: uppercase;
  background: transparent;
  border: 1px solid black;
  font-size: 0.7rem;
  padding: 0.5vw 2vw;
}

.main-news {
  width: 70%;
  margin: 0 auto;
}

.main-news-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.main-news-container div {
  width: 33%;
}

.mn-pic img {
  box-shadow: 1px 1px 7px 0px black;
  max-width: fit-content;
}

.icon--list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon--list h4 {
  font-size: 1.1rem;
}

.icon--list p {
  font-size: 0.8rem;
}

.icon--list p,
.icon--list h4,
.icon--list .link {
  width: 75%;
}

.icon--list .link > a {
  margin-bottom: 2%;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.7rem;
  color: var(--color1);
  font-weight: 700;
}

.contact {
  width: 70%;
  margin: 0 auto;
  padding: 5% 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-list {
  display: flex;
}

.contact-list > div {
  width: 33%;
}

.list h5 {
  text-transform: uppercase;
}

.infos-p {
  padding: 5px 0;
  font-size: 0.8rem;
  font-weight: 600;
}

.infos-p li {
  padding: 5px 0;
}

.infos-p li > a {
  text-decoration: none;
  color: var(--color1);
}

.list p {
  font-size: 0.8rem;
  width: 80%;
}

.list a {
  text-decoration: none;
  color: var(--color1);
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.list h6 {
  margin-bottom: 2px;
  margin-top: 5px;
}

.footer-logos {
  margin: 2px;
}

.network {
  margin-bottom: 2px;
}

.copyright {
  margin-bottom: -4%;
  margin-top: 10%;
}

.contact-medias {
  margin: 3% 0;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  position: relative;
}

.contact-medias:before {
  content: "";
  position: absolute;
  background: var(--color1);
  height: 1px;
  width: 80%;
  top: -14%;
  transform: translateX(10%);
}

.contact-medias .medias-text > h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.medias-text p {
  font-size: 0.8rem;
  font-weight: 600;
}

.medias-logos {
  justify-content: space-between;
  display: flex;
}

footer {
  background: black;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

footer > ul {
  display: flex;
  transform: translateX(-12%);
}

footer ul > li {
  padding: 0 1%;
}
